/* Hides the tab bar */
#TabsToolbar {
	visibility: collapse !important;
}

#browser {
	padding: 0.5rem;
	background: rgb(228, 89, 247);
	background: linear-gradient(153deg, rgba(228, 89, 247, 1) 17%, rgba(0, 230, 255, 1) 100%);
}

#appcontent,
.wide-container {
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#sidebar-splitter {
	background: transparent !important;
	opacity: 0 !important;
}

#sidebar-box[sidebarcommand='treestyletab_piro_sakura_ne_jp-sidebar-action'] #sidebar-header {
	display: none;
}

#sidebar-header {
	display: none;
}

#tabbar-container {
	background-color: red !important;
}
